.nav-container {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  padding-right: 2rem;
  position: relative; /* Add this line */
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Adjust the underline height as needed */
  background-color: #2f8ab1;
  transition: width 1s; /* Add the transition property */
}

.nav-link:hover::before {
  width: 100%; /* Expand the underline on hover */
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/633/original/logoWhistleblower.png?1694436815);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100px;
  height: 50px;
}

.links {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
  .menu-icon {
    display: none;
    flex-direction: column;
    height: 24px;
    justify-content: space-around;
    width: 24px;
    cursor: pointer;
  }
  
  .menu-icon div {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .menu-icon.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-icon.toggle div:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .menu-bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
  }


  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
      padding-right: 2rem;
    }
  
    .links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: #333;
      width: 100%;
    }
  
    .links.open {
      display: flex;
    }
  
    .nav-link {
      padding: 1rem;
      border-bottom: 1px solid #ffffff;
    }
  }