.section1 {

    height: 70vh; 
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.aboutAccordion {
    width: 100%;
    max-height: 0px;
}

.aboutTitle {
    border-radius: 0.5em;
    background-color: white;
    color: #2F8AB1;
    padding-left: 3rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}

.answerAbout {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0.5em;
    text-align: left;
    align-items: center;
    padding: 2rem;
    max-height: 35vh;

}


.imgage {
    max-width: 300px;
    max-height: 300px;
    width: 80vw;
    height: 35vh;
    padding: 4rem;

}

@media only screen and (max-width: 300px) {
    .answerAbout {

        height: 37vh;
        overflow-y: auto;

    }

    .imgage {
        max-width: 200px;
        max-height: 150px;
    }

}

@media only screen and (max-width: 767px) {
    .aboutTitle {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .answerAbout {

        height: 37vh;
        overflow-y: auto;

    }
}