.section1 {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aboutAccordion {
    width: 100%;
  }
  
  .aboutTitle {
    border-radius: 0.5em;
    background-color: white;
    color: #2F8AB1;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  
  .aboutTitle:hover {
    background-color: #f1f1f1;
  }
  
  .answerAbout {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5em;
    text-align: left;
    align-items: center;
    max-height: 35vh;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    width: 80%;
  margin: 0 auto;
  }
  
  .pic {
    max-width: 30rem;
    max-height: 150px;
    margin-right: 1rem;
    transition: all 0.3s ease;
  }
  
  @media only screen and (max-width: 300px) {
    .answerAbout {
      height: 37vh;
      overflow-y: auto;
    }
  
    .pic {
      max-width: 100px;
      max-height: 100px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .aboutTitle {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .answerAbout {
      height: 37vh;
      overflow-y: auto;
    }
  }
  