.registerBody {
  display: flex;
  margin: 3rem;
  border: 0.125rem solid #2f8ab1;
  width: 70%;
  margin: 8rem auto;
  border-radius: 0.5em;
}

.registerLeft {
  background-image: url("https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}

.register-right {
  width: 50%;
  padding: 2rem;
}

.register-right h1 {
  margin-bottom: 1rem;
  color: #2f8ab1;
}

.login {
  color: #2f8ab1;
  text-decoration: underline;
  cursor: pointer;
}

.userSection,
.emailSection,
.passwordSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}


@media only screen and (max-width: 767px) {
  .registerBody {
    flex-direction: column-reverse;
    margin: 6rem auto;
    border: 0.125rem solid #2f8ab1;
  }

  form input {
    width: 90%;
    padding: 0.5rem 1rem;
  }

  .registerLeft {
    width: 100%;
  }

  .register-right {
    width: 90%;
  }

  .register-right {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .registerLeft {
    width: 100%;
  }

  form input {
    width: 85%;
    padding: 0.5rem 1rem;
  }

  .register-right {
    width: 100%;
    padding: 1.5rem;
  }
}