.registerBody {
    margin-top: 120px;
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 120px;
    border: 2px solid #2F8AB1;

}

.register-right {
    width: 50%;
    height: 500px;
    padding-left: 41px;

}

.registerLeft {
    width: 50%px;
    height: 500px;
}

.buttonsTop {
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.button1 {
    width: 67px;
    height: 22px;
    color: white;
    margin: 0px;
    padding: 4px;
    background: var(--Blue, #2F8AB1);

}

.button2 {
    width: 67px;
    height: 22px;
    margin: 0px;
    padding: 4px;
    color: #000;
    background: var(--Medium-grey, #D4D4D4);
}

.userSection {
    width: 300px;
    height: 84px;
    margin-top: 0px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.emailSection {
    width: 300px;
    height: 84px;
    margin-top: 0px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.passwordSection {
    width: 300px;
    height: 84px;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.registerEnd {
    width: 149px;
    height: 35px;
    margin-left: 80px;
    border-radius: 5px;

    border: 1px solid var(--black, #000);
    background: #2F8AB1;

}