:root {
  --primary-color: #3d5e84;
  --accent-color: #2f8ab1;
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
}

.background-image{
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/632/original/543ffb5803130c09af16594e221eac8e.jpeg?1694436809);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



.content-container {
  text-align: center;
  max-width: 800px;
  z-index: 1;
}

.title-hero {
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 3rem;
}

.info-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1e1c1c;
  line-height: 1.5;
  margin: 3rem;
}

.action-section {
  padding: auto;  
  display: flex;
  justify-content: space-evenly;
}

.action-button {
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-70px);
  transition: all 0.2s ease-in-out;
}


.action-button:hover {
  background-color: var(--primary-color);
}

.action-text {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 768px) {
  .home-page {
    padding: 1rem;
    padding-top: 2rem;
  }
  .hero-image {
    background-position: center;
  }
}
