#loginbutton1 {
    color: white;
    background-color: #2F8AB1;
}

#loginbutton2 {
    color: black;
    background-color: #D4D4D4;
}

.forgottenpassword {
    color: black;
}

.loginEnd {
    margin-left: 45px;
    width: 250px;
}

.forgotpassword {
    margin-left: 85px;
    font-weight: 500;
}

.createaccount {
    margin-left: 105px;
    background-color: #4CAF50;
}